#homepage {
  width: 100vw;
  height: 100vh;
}

#homepage .header {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
#homepage .appname {
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
}
#homepage .logo svg {
  padding-top: 3px;
}

/* ********************************** */

#homepage .newDoc {
  background-color: #f1f3f4;
  height: 30vh;
  min-height: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

#homepage .create {
  height: 80%;
  width: 10%;
  min-width: 120px;
  min-height: 150px;
  background-color: white;
}

#homepage .docDispText {
  width: 80%;
  height: 100%;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

#homepage .heading {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
}

#homepage .create {
  width: 10%;
  height: 10%;
  min-width: 120px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homepage .create:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 170, 255, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 170, 255, 1);
  box-shadow: 0px 0px 0px 2px rgba(0, 170, 255, 1);
  cursor: pointer;
}

.create svg {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.create:hover svg {
  transform: scale(1.2); /* Increase the scale on hover */
}

/* ****************************************** */

.recents .recentHeading {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.recents .recentFiles {
  height: 50vh;
  margin-left: 25px;
  margin-top: 20px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.recentFiles::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
 
  }
  
  /* Track */
  .recentFiles::-webkit-scrollbar-track {
    background: #ffffff; /* Color of the track */
    border-radius: 5px;
  }
  
  /* Handle */
  .recentFiles::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* On hover */
  .recentFiles::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
  }


.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto; /* Center the grid */
}
.recents .recentFileItem {
    margin: 2px;
  width: 95%;
  aspect-ratio: 1/1.1;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.recents .recentFileItem:hover {
  cursor: pointer;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 170, 255, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 170, 255, 1);
  box-shadow: 0px 0px 0px 1px rgba(0, 170, 255, 1);
}

.recentFileItem .top {
  display: flex;
  justify-content: end;
  align-items: center;
}
.recentFileItem .top span {
  z-index: 5;
  background-color: white;
}
.recentFileItem .bottom {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(228, 228, 228);
  background-color: rgb(228, 228, 228);
  color: #5f6368;
}

.matchingData{
  width: 95%;
  height: 60%;
  overflow: clip;
  position: absolute;
  display: flex;
  font-size: 0.3em;
  top: 0;
  margin: 3px;
  color: #555;
}

